/* normalize css */
body,html{
    background-color: #141414;
    padding: 0;
    margin: 0;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

*::-webkit-scrollbar{
    display: none;
}
/* Header css */
header{
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
header.black-bg{
    background-color: black;
}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.header-brand{
max-width: 100px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-items{
    color: white;
    margin-right: 20px;
    opacity: 0.7;
}
.nav-items.active{
    opacity: 1;
     
}

.right-cont svg{
    color: white;
}
.show-kids a{
    color: white;
}
.right-cont img{
    max-width: 40px;
    
}
.right-cont svg,.show-kids,.right-cont img{
    margin-right: 18px;
    cursor: pointer;
    
}

/* Banner Section */
.banner-section{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('https://occ-0-2610-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABbRak2OSBKW8BWvi3jHiQtkynqqLiPSwwDLGRUge02JPnxQLaHAkt7SQMxgyQiMQ41XC1_99F0GiAQazINUW__IYI5QF-fKlyhB6.webp?r=a16'); */
    min-height: 75vh;
    padding-top: 80px;
    padding-left: 30px;
    position: relative;
}
.banner-content{
    display: flex;
    flex-direction: column;
    
    margin-left: 0;
     
 }
 
.banner-title{
    color: white;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 16px;
    width: 40%;
}
.banner-info{
    color: white;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;

}
.banner-overview{
font-size: 16.4px;
color: white;
line-height: 1.3;
max-width: 50%;

 
line-height: 1.33;

}
.action-buttons{
    
display: flex;
flex-direction: row;
align-items: center;

}
.action-button{
 border: none;
 background-color: white;
 padding: 8px 23px;
 margin-right: 11px;
 border-radius: 4px;
 display: flex;
 flex-direction: row;
 align-items: center;
 font-size: 16px;
 font-weight: 700;
cursor: pointer;


}
.action-button:last-child{
    color: white;
    background-color:rgba(109, 109, 110, 0.7) ;
}
.banner_fadeBottom{
height: 120px;
background: linear-gradient(180deg,
transparent,rgba(37,37,37,.61),#141414);
position: absolute;
left: 0;
bottom: 0;
width: 100%;
}
/* Movies Section Css */
.movies-section{
    margin: 41px 0;
}

.movies-section-heading{
font-size: 30px;
font-weight: 700;
line-height: 1.2;
color: white;
cursor: pointer;
margin-bottom: 10px;
}
.explore-nudge{
    opacity: 0.8;
font-size: 12px;
display: none;
}
.movies-section-heading:hover .explore-nudge{
display: inline-block;
}
.movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
     
}

.movie-item{
    width: 250px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 4px;
}
.movie-item:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: transform ease 600ms;
}



/* Responsive CSS */
@media(max-width:767px){
    .main-nav{
        list-style: none;
        display: inline-flex;
        flex-direction: row;
    }
    .banner-content{
     
        max-width: 100%;
        
         
     }
}